body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #28a745;
    color: white;
    /*Espaçamento interno 15px na horizontal, 0 na vertical*/
    padding: 15px 0;
    font-size: 24px;
    border: 3px solid black;
}

nav {
    background-color: #007bff;
    padding: 10px;
    /*Flex Boxing*/
    display: flex;
    /*Alinhamento horizontal*/
    justify-content: space-between;
    /*Alinhamento vertical*/
    align-items: center;
}

/*Referênciando um id com #*/
#links-menu {
    display: flex;
    gap: 20px;
}

/*Configura o estilo das âncoras que estão dentro do nav*/
nav a {
    /*texto branco*/
    color: white;
    /*não faz decoração no link*/
    text-decoration: none;
    /*10px vertical e 15px horizontal*/
    padding: 10px 15px;
    /*Tamanho da fonte*/
    font-size: 18px;
    /*cor de fundo*/
    background-color: #005663;
    /*valor do arredondamento da borda*/
    border-radius: 5px;
}

nav a:hover {
    background: #003d82;
}

img {
    width: 120px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
}

/*Referênciando uma classe com .*/
.container {
    width: 80%;
    /*20px na vertical e automatico na horizontal*/
    margin: 20px auto;
    background: white;
    /*Espaçamento interno nos 4 lados*/
    padding: 20px;
    border-radius: 20px;
    align-items: center;
    text-align: justify;
    font-size: 20px;
    letter-spacing: -0.5px;
    line-height: 1.2;
}

h2{
    text-align: center;
}

/*Faz com que apenas os tds dentro do tr dentro do table sejam afetados*/
table tr td {
    padding: 10px
}

table {
    border-collapse: collapse;
    margin: 0 auto; /*Espaçamento externo de 0 acima e abaixo e automático esq. dir.*/
}

.laranja {
    background-color: orange;
}

.azul {
    background-color: rgb(0, 174, 255);
}

.preta {
    background-color: black;
    color: white;
}

.roxa{
    background-color: purple; 
}

.verde{
    background-color: green;
}

.vermelha{
    background-color: red;
}

.campos {
    margin: 20px;
}
